.main-video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-video__txt {
  font-size: 96px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 100px;
}